.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.log
.git
.gitignore
.DS_Store
alembic/__pycache__/
alembic/versions/__pycache__/
poetry.lock
*.sqlite3
env/
dist/
build/
.mypy_cache/
.pytest_cache/
*.egg-info/
node_modules/
docker-compose.override.yml

